body{
    background-color: rgb(220, 210, 211);
}
.title_one_piece{
  font-size: 50px; 
  background-color: rgb(233, 203, 204);
  font-family: 'Courier New', Courier, monospace; 
  color:brown;  
  padding: 8px;
  border: 5px solid black;
  margin: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.link_emperadores{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: brown; 
    padding: 8px;
    margin: 10px;
    text-decoration: none;
    background-color: rgb(233, 203, 204) ;
    border: 2px solid black;
}
.link_emperadores:hover{
background-color: rgb(168, 168, 241);
}
.link_emperadores:active{
    background-color: rgb(242, 59, 59);
}

.img_one_piece{
    width: 900px;
    margin: 10px;
    margin-top: 20px;
}

.txt_luffy{
    font-size: 20px;
    color: brown;
}

.txt_zoro{
    font-size: 20px;
    color: green;
}


.txt_sanji{
    font-size: 20px;
    color: rgba(255, 234, 0, .9);
}

/* YONKOUS.HTML */

